@use '~bootstrap/scss/bootstrap';

/* 基本レイアウト設定 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 50px;
}

.content {
  flex: 1;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: right;
  padding: 10px 0;
}

/* ナビゲーションバー関連 */
.navbar .separator {
  display: inline-block;
  width: 10px;
}

.navbar .navbar-brand img {
  width: 70% !important;
  height: auto;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  color: white;
}

/* コンポーネントのスタイル */
.image-with-margin {
  margin: 10px; /* 画像の外側に20pxの余白を追加 */
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
}

h1.display-4 {
  font-size: 2.5rem;
}

.badge-pill {
  font-size: 1rem;
}

/* Review Card */
.review-card {
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem; /* 角丸 */
  width: 100%;
  height: 240px;
  margin: 10px;
  overflow: hidden;
}

.review-card img {
  object-fit: cover;
  height: 260px; /* 画像の高さを一定にする */
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 4px;
}

.review-card .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); /* 半透明の背景 */
  color: white;
  padding: 10px;
  text-align: center;
}

.review-card .card-title,
.review-card .card-text {
  margin: 0;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 30px 0;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
}

.fixed-button {
  position: fixed;
  bottom: 75px;
  right: 75px;
  z-index: 1000;
}

.btn-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 123, 255, 0.5); /* 半透明 */
  border: none;
  border-radius: 50%;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn-circle:hover {
  background-color: rgba(0, 123, 255, 1); /* 透明度解除 */
}

.page-title {
  position: absolute;
  top: 120px; /* ヘッダーの下に適切なスペースを確保する */
  left: 60px; /* 左上に配置する */
  z-index: 100; /* 必要に応じてz-indexを調整する */
  font-size: 2.5rem; /* 必要に応じてフォントサイズを調整する */
  margin: 0; /* デフォルトのマージンをリセット */
}

.grayed-out {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.grayed-out .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-5 {
  margin-top: 5px;
}

.h2.mb-4 {
  margin-top: 2px;
}

/* Weekly Highlight section */
.carousel-item img {
  object-fit: cover;
  height: 400px; /* 画像の高さを一定にする */
  border-radius: 0.25rem; /* 角丸 */
  margin: 4px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5); /* 半透明の背景 */
  padding: 10px;
}

body.admin-mode {
  background-color: #343a40;
  color: white;
}

.list-group-item-action.bg-dark:hover {
  background-color: #495057;
  color: white;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

@media (max-width: 418px) {
  .main-content {
    flex: 1; /* 小さい画面用のパディング */
    padding: 20px;
  }
  .navbar-brand img {
    width: 100px; /* 小さい画面用の画像幅 */
    height: auto;
  }
  .page-title {
    position: absolute;
    top: 110px; /* ヘッダーの下に適切なスペースを確保する */
    left: 35px; /* 左上に配置する */
    z-index: 100; /* 必要に応じてz-indexを調整する */
    font-size: 2rem; /* 必要に応じてフォントサイズを調整する */
    margin: 0; /* デフォルトのマージンをリセット */
  }
}

.img-thumbnail {
  width: 100%;  /* コンテナの幅に合わせる */
  height: auto;
  object-fit: cover;  /* 画像の比率を維持しながらコンテナに合わせる */
  margin: 4px;
}

.position-absolute {
  position: absolute;
  top: 10px;
  right: 10px;
}

.admin-dashboard {
  display: flex;
}

.admin-users, .admin-posts {
  width: 50%;
  padding: 10px;
}

ext-right {
  text-align: right;
}

.diamond {
  width: 20px;
  height: 20px;
  background-color: yellow;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.exclamation {
  font-size: 1rem;
  font-weight: bold;
  transform: rotate(-45deg);
  color: black;
}

.warning-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.warning-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.gray-card {
  background: linear-gradient(to bottom, #001e50, #2350aa);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.gray-card .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}