<footer class="bg-dark text-white py-3">
  <div class="container">
    <div class="row">
      <div class="col text-end">
        <%= link_to '2024 FaGuOS All rights reserved', about_path, class: 'text-white text-decoration-none' %>
      </div>
    </div>
  </div>
</footer>
